[Unit]
After=network.target

[Service]
Restart=on-failure
User=node

Environment="NODE_ENV=production"
PassEnvironment="NODE_ENV"

ExecStart=/home/node/.nvm/versions/node/v{{ node_version }}/bin/node /home/node/server.js

[Install]
WantedBy=multi-user.target
